// 🎨 Global color & variable definitions
$default: #333; // text default
$purple: #6a1b9a;
$black: #000;
$white: #e6f8f8;

$border-color: #bebebe;
$background-light: #f4f4f4;
$error: red;

// Font settings
$font-family: "Inter", sans-serif;
$font-size-base: 14px;
